<?xml version='1.0' encoding='utf-8'?>
<widget id="br.com.procivilis.mobile" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Pro Civilis</name>
    <description>
        Aplicativo de levantamento de informaçõses de imóveis.
    </description>
    <author email="rafael.souza@proex.net.br" href="http://www.proex.net.br">       
    </author>
    <content src="index.html" />	
	<access origin="..." />
	<allow-navigation href="*" />
	<allow-intent href="*" />
</widget>
